@model CongThongTin_UTC2.ViewModel.userListViewModel
@{
    ViewBag.Title = "DangKyUser";
}

<div class="row" style="margin: 124px 0px; background: #ccc;">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <div class="card" style="margin-top:20px">
            <div class="card-body register-card-body">
                <p class="login-box-msg" style="text-align: center; font-weight:600; font-size: 24px;">Tạo tài khoản mới</p>
                <p class="text-danger">@ViewBag.anno</p>
                @using (Html.BeginForm())
                {
                    <div class="input-group mb-3">

                       
                        <div class="input-group-append">
                            @Html.TextBoxFor(m => m.fullname, new { @class = "form-control", placeholder = "Họ và tên" })
                            <span style="margin-left: 28px;"  class="fa fa-user input-group-text"></span>
                        </div>

                        <div> @Html.ValidationMessageFor(m => m.fullname, "", new { @class = "text-danger" })</div>
                      
                    </div>
                    <div class="input-group mb-3">

                       
                        <div class="input-group-append">
                            @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Tên đăng nhập" })
                            <span style="margin-left: 28px;"  class="fa fa-user input-group-text"></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group mb-3">

                      
                        <div class="input-group-append">
                            @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Mật khẩu" })
                            <span style="margin-left: 28px;"  class="fa fa-lock input-group-text"></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group mb-3">

                    
                        <div class="input-group-append">
                            @Html.PasswordFor(m => m.repassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
                            <span style="margin-left: 28px;" class="fa fa-lock input-group-text"></span>
                        </div>
                        @Html.ValidationMessageFor(m => m.repassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">                  
                        <!-- /.col -->
                        <div>
                            <button type="submit" class="btn btn-primary btn-block btn-flat" style="margin-left: 80px;">Đăng ký</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <div class="col-md-4"></div>
</div>

